@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }

  .social-icon {
    @apply bg-white rounded-full center shadow-md xs:size-16 size-14  text-primary hover:text-white hover:bg-primary transition-colors duration-150;
  }

  .subheading {
    @apply text-primary uppercase text-lg font-semibold;
  }
  .heading {
    @apply md:text-5xl font-bold text-4xl mt-3;
  }
}
